*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
#65dfc9,#6cdbeb
#0d072b,#996ceb
    background: linear-gradient(to right top, #b30e60,#996ceb);

*/
main{
    min-height: 100vh;
    background: linear-gradient(to right top, #290453,#996ceb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;

}

.circle1{
    top:5%;
    right:15%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}

.dashboard{
    flex: 1;
    display: flex;
}

.chart{
    width: 600px;
    height: 300px;
    display: block;
  }
  
  .numbers{
    color: #fff;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
    float: left;
  }
  
  .numbers li{
    list-style: none;
    height: 150px;
    position: relative;
    bottom: 145px;
  }
  
  .numbers span{
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  
  .bars{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #555;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
  }
  
  .bars li{
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
  }
  
  .bars span{
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
  }
  
  .bars .bar{
    display: block;
    /*background: #17C0EB;*/
    background: #290453;
    width: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    transition: 0.5s;
    transition-property: background, box-shadow;
  }
  
  .bars .bar:hover{
    background: #55EFC4;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    cursor: pointer;
  }
  
  .bars .bar:before{
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
  }